/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.logo-link {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-item {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-item:hover {
  background-color: #555;
  border-radius: 5px;
}

button.menu-item {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button.menu-item:hover {
  background-color: #555;
  border-radius: 5px;
}
